.fts-pinterest-boards-wrap * {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.fts-pinterest-wrapper {
	text-align:center;
	margin:auto;
	position: relative;
}
a.fts-pin-board-wrap:link {
	text-decoration: none !important;
	border-bottom: 0px
}
a.fts-pin-board-wrap {
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	transition: all 0.30s ease-in-out;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
	-moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
	box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
	background: #fff;
	display: inline-block;
	text-decoration: none;
	padding: 10px 9px 10px 10px;
	margin: 8px 8px 10px 8px;
	text-align:left;
}
a.fts-pin-board-wrap img, .widget a.fts-pin-board-wrap img {
	max-width: 100%;
}
.fts-pin-board-wrap:hover .hoverMask, .pinterest-single-thumb-wrap:hover .hoverMask {
	background: rgba(255,255,255,0.1);
}
h3.fts-pin-board-board_title {
	-webkit-font-smoothing: antialiased !important;
	width: 210px;
	color: #555 !important;
	display: block !important;
	font-size: 14px !important;
	font-weight: bold !important;
	height: 18px !important;
	margin: 2px 0 5px 3px !important;
	padding: 0 !important;
	position: relative !important;
	font-family: "Helvetica Neue", arial, sans-serif !important;
	line-height:15px !important;
}
h3.fts-pin-board-board_title span {
	-webkit-font-smoothing: antialiased !important;
	white-space: nowrap !important;
	overflow: hidden !important;
	-ms-text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	display: block !important;
	text-transform: capitalize;
}
div.fts-pin-board-img-wrap {
	position: relative;
	overflow: hidden;
	clear: both;
	height: 146px;
	/* width: 216px; */
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,0.33) inset;
	-moz-box-shadow: 0 0 3px rgba(0,0,0,0.33) inset;
	box-shadow: 0 0 3px rgba(0,0,0,0.83) inset;
}
.fts-pin-board-thumbs-wrap {
	height: 56px;
}
.fts-pin-board-thumbs-wrap div:last-child {
	margin-right: 0px;
}
div.pinterest-single-thumb-wrap {
	float: left;
	margin-right: 4px;
	margin-top: 4px;
	position: relative;
	height: 69.3333333333px !important;
	width: 69.3333333333px !important;
	-webkit-border-radius: 3px !important;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.33) inset;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px !important;
}
div.pinterest-single-thumb-wrap {
	background-position: center;
	background-size: 189%;
	background-repeat: no-repeat;
	image-rendering: optimizeSpeed;             /* FUCK SMOOTHING, GIVE ME SPEED  */
	image-rendering: -moz-crisp-edges;          /* Firefox                        */
	image-rendering: -o-crisp-edges;            /* Opera                          */
	image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
	image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
	-ms-interpolation-mode: nearest-neighbor;   /* IE8+  */
}
.fts-pin-board-img-wrap .hoverMask, .pinterest-single-thumb-wrap .hoverMask {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,0.33) inset;
	-moz-box-shadow: 0 0 3px rgba(0,0,0,0.33) inset;
	box-shadow: 0 0 3px rgba(0,0,0,0.33) inset;
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}
.fts-pin-board-wrap .fts-pin-board-pin-count {
	-webkit-font-smoothing: antialiased;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2), 0 1px 0px rgba(255,255,255,0.3);
	-moz-box-shadow: inset 0 0 5px rgba(0,0,0,0.2), 0 1px 0px rgba(255,255,255,0.3);
	box-shadow: inset 0 0 5px rgba(0,0,0,0.2), 0 1px 0px rgba(255,255,255,0.3);
	text-shadow: 0 -1px 0 rgba(0,0,0,0.7);
	background-color: #000;
	background-color: rgba(68,68,68,0.7);
	bottom: 3px;
	color: #fff;
	padding: 0px 6px;
	position: absolute;
	left: 3px;
	font-family: "Helvetica Neue", arial, sans-serif !important;
	font-size: 12px !important;
	font-weight: bold;
	line-height:21px;
}
.fts-pin-board-pin-count:before {
	content: '';
	width: 7px;
	height: 9px;
	background: url('../images/pinterest-icons.png') -137px -87px no-repeat;
	display: inline-block;
	margin-right: 3px;
}
.fts-pin-board-wrap .label {
	font-weight: bold;
	text-align: left !important;
	text-decoration: none !important;
	line-height: 1.1em !important;
	white-space: nowrap;
	display: inline-block;
	position: relative;
	margin-bottom: inherit;
	padding: 0 !important;
	font-size: 0.7875rem;
	background: none !important;
	color: white;
}
.widget h3.fts-pin-board-board_title, .widget .fts-pin-board-thumbs-wrap {
	display: none !important;
}
.widget div.fts-pin-board-img-wrap {
	position: relative;
	overflow: hidden;
	clear: both;
	height: auto;
	width: auto;
}
.widget a.fts-pin-board-wrap {
	width: 40%;
	padding: 6px;
	margin: 8px 5px 9px 8px;
	border-radius: 1px !important;
}
.widget div.fts-pin-board-img-wrap {
	-webkit-box-shadow: 0 0 1px rgba(0,0,0,0.11) inset !important;
	-moz-box-shadow: 0 0 1px rgba(0,0,0,0.11) inset;
	box-shadow: 0 0 0px rgba(0,0,0,0) inset !important;
	margin-bottom: 0px
}
.widget .fts-pin-board-img-wrap .hoverMask, .pinterest-single-thumb-wrap .hoverMask {
	-webkit-box-shadow: 0 0 0px rgba(0,0,0,0.33) inset;
	-moz-box-shadow: 0 0 0px rgba(0,0,0,0.33) inset;
	box-shadow: 0 0 0px rgba(0,0,0,0.33) inset;
}
.fts-single-pin-wrap {
	background: #FFF;
	-webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
	border-radius: 6px;
	width: 236px !important;
	/* display: inline-block; */
	margin: 14px 7px 0 7px;
	border: none !important;
	text-align:left;
	overflow:hidden;
}
.fts-single-pin-description {
	font-size: 12px;
	margin: 10px 15px;
	position: relative;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #333;
	font-size: 13px;
	line-height: 17px;
	word-wrap: break-word;
}
.fts-single-pin-img-wrap img {
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}
.fts-single-pin-social-meta-wrap {
	font-family: 'Helvetica', sans-serif;
	font-weight: bold;
	font-size: 11px;
	color: #999;
	font-style: normal;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	margin: -13px 10px 7px 15px;
}
.fts-single-pin-social-meta-wrap .fts-single-pin-repin-count {
	margin: 10px 10px 0 0;
	display: inline-block;
}
.fts-single-pin-social-meta-wrap .fts-single-pin-repin-count:before {
	content: '';
	width: 14px;
	height: 11px;
	margin-right: 2px;
	background: url('../images/pinterest-icons.png') -168px -74px no-repeat;
	font: 0/0 serif;
	text-shadow: none;
	color: transparent;
	display: inline-block;
	margin-bottom: -1px;
}
.fts-single-pin-social-meta-wrap .fts-single-pin-like-count:before {
	content: '';
	width: 12px;
	height: 10px;
	background: url('../images/pinterest-icons.png') -181px -139px no-repeat;
	display: inline-block;
	font: 0/0 serif;
	text-shadow: none;
	color: transparent;
	margin-right: 2px;
	margin-bottom: -2px;
}
.fts-single-pin-pinned-to-wrap {
	line-height: 15px;
	padding: 10px;
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
	border-radius: 0 0 6px 6px;
	display: block;
	border: none !important;
	border-top: 1px solid #e7e7e7 !important;
}
.fts-single-pin-pinned-to-wrap:hover {
	background: #eee;
	cursor: pointer;
}
.fts-single-pin-pinned-to-wrap div {
	color: #999;
	display: block;
	font-weight: bold;
	font-size: 11px;
	font-family: 'Helvetica', sans-serif;
}
.fts-single-pin-pinned-to-text {
	color: #999;
}
div.fts-single-pin-pinned-to-title {
	color: #717171 ;
}
.fts-single-pin-pinned-to-wrap img {
	position: relative;
	border-radius: 2px;
	float: left;
	height: 30px;
	margin-right: 5px;
	width: 30px;
	float: left;
}
.fts-single-pin-pinned-to-title {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
	border-radius: 0 0 6px 6px;
	display: block;
}
.fts-single-attribution-wrap {
	white-space: nowrap;
	overflow: hidden;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	font-family: 'Helvetica',sans-serif;
	color: #666;
	margin: -2px 0 5px 15px !important;
	font-size: 11px;
	display:block;
	border:none !important;	
	line-height: 1.6471;

}
.fts-single-attribution-wrap img {
	height: 16px;
	margin-right: 5px;
	position: relative;
	width: 16px;
	float:left;
}