#toplevel_page_feed-them-settings-page .wp-submenu a, #toplevel_page_feed-them-settings-page .wp-submenu a {
	-webkit-transition: background 2s !important;
	-webkit-transition: all 0.30s ease-in-out !important;
	-moz-transition: all 0.30s ease-in-out !important;
	-o-transition: all 0.30s ease-in-out !important;
	transition: all 0.30s ease-in-out !important;
}
#toplevel_page_feed-them-settings-page .wp-not-current-submenu {
	background-image: url('../images/slickremix-icon-sprite.png') !important;
	background-position: 4px -21px !important;
	background-size: 22px !important;
	background-repeat: no-repeat !important;
}
#toplevel_page_feed-them-settings-page .wp-not-current-submenu:hover {
	background-position: 4px 5px !important;
	background-size: 22px !important;
}
#toplevel_page_feed-them-settings-page .wp-menu-open {
	background-image: url('../images/slickremix-icon-sprite.png') !important;
	background-position: 4px 5px !important;
	background-size: 22px !important;
	background-repeat: no-repeat !important;
}

/* Retina Display Size */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2) {
 #toplevel_page_feed-them-settings-page .wp-not-current-submenu {
	background-image: url('../images/slickremix-icon-sprite.png') !important;
	background-position: 4px -21px !important;
	background-size: 22px !important;
	background-repeat: no-repeat !important;
}
#toplevel_page_feed-them-settings-page .wp-not-current-submenu:hover {
	background-position: 4px 5px !important;
	background-size: 22px !important;
}
}