@font-face {
	font-family: 'SlickRemix';
	src: url('fonts/SlickRemix.eot?p9iqv');
	src: url('fonts/SlickRemix.eot?#iefixp9iqv') format('embedded-opentype'),  url('fonts/SlickRemix.woff?p9iqv') format('woff'),  url('fonts/SlickRemix.ttf?p9iqv') format('truetype'),  url('fonts/SlickRemix.svg?p9iqv#SlickRemix') format('svg');
	font-weight: normal;
	font-style: normal;
}
 [class^="icon-"], [class*=" icon-"] {
 font-family: 'SlickRemix';
 speak: none;
 font-style: normal;
 font-weight: normal;
 font-variant: normal;
 text-transform: none;
 line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}
#adminmenu #toplevel_page_feed-them-settings-page div.wp-menu-image:before {
	font-family: 'SlickRemix' !important;
	content: "\e600";
	line-height: 1.2em;
	font-size: 1.2em!important;
}
 @media only screen and (max-width: 782px) {
#adminmenu #toplevel_page_feed-them-settings-page div.wp-menu-image:before {
	line-height: normal !important;
}
}
.fts-activation-msg { margin:14px 0 -25px 0; font-size:14px;}
.fts-activation-msg ol { margin:10px 0 0 20px;}
.fts-update-message:before { color: #FFF; content: '\e600'; display: inline-block; font: 400 16px/1 SlickRemix; speak: none; margin: 0 8px 0 -1px; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; vertical-align: top; }
.fts-update-message { font-weight: 400; color: #fff; background: #d54d21; padding: 1em; margin: 9px 0; }
.fts_old_plugins_message { margin: 15px 15px 0 0; }
.fts-update-message a { color: #fff; text-decoration: underline; }